.signup {
  @include mainContainer;

  &__content {
    @include contentContainer($width: 20rem);
  }

  &__heading {
    @include contentHeading;
  }

  &__note {
    font-style: italic;
    text-align: center;
    opacity: 0.7;
  }

  &__error {
    @include errorMessageBlock;
  }
}