.about {
  @include mainContainer;

  &__content {
    @include contentContainer($width: 20rem);
    text-align: center;
  }

  &__heading {
    @include contentHeading;
  }

  &__link {
    @include link;
  }

  &__button {
    @include contentButton
  }

  &__key {
    display: inline-block;
    font-weight: 800;
    border: 0.1rem solid var(--color-white);
    padding: 0.2rem 0.5rem;
  }

  &__paragraph {
    margin: 1rem 0;
    box-sizing: border-box;
  }

  &__subparagraph {
    display: block;
    margin: 0.5rem 0;
  }
}