.stats {
  @include mainContainer;

  &__content {
    @include contentContainer($width: 80%)
  }

  &__heading {
    @include contentHeading;
    margin-bottom: 1rem;
  }

  &__table-wrapper {
    max-height: 50vh;
    overflow-y: scroll;
  }

  &__table {
    width: 100%;
  }

  &__body-row {
    text-align: center;
  }

  &__button-wrapper {
    text-align: center;
    margin-bottom: 0;
  }

  &__button {
    @include contentButton;
  }
}