.settings {
  @include mainContainer;

  &__content {
    @include contentContainer($width: 60%);

    min-width: 20rem;
    max-width: 40rem;
  }

  &__heading {
    @include contentHeading;
  }

  &__input {
    width: 100%;
    box-sizing: border-box;
    margin: 1.2rem 0;
  }

  &__button {
    @include contentButton;
    margin-top: 1rem;
  }
}