.settings {
  @include mainContainer;

  &__content {
    @include contentContainer($width: 60%);

    min-width: 20rem;
    max-width: 40rem;
  }

  &__heading {
    @include contentHeading;
  }

  &__image-radio {
    display: none;

    &:checked+.settings__image {
      border: 10px solid white;
    }
  }

  &__image {
    width: 30%;
    box-sizing: border-box;
  }
}